In [1]:
import pandas as pd
import numpy as np
import datetime

pd.set_option('display.max_columns', None)

In [2]:
# Import original data files
suppliers = pd.read_csv("Supplier_Name_&_ID_data.csv", engine='python')
sales = pd.read_csv("Raw_data.csv", engine='python', thousands=',')

In [3]:
suppliers.head()

             Item Supplier Regular   Item Supplier Regular id
0                     2b deko GmbH                     !100105
1              2M-sitandsleep GmbH                     !101167
2   3s Frankenmöbel Vertriebs GmbH                     !100148
3   „Wolno??” Meblarska Sp. z o.o.                     !100986
4  (Werk 82125) Actona Company A/S                     !100002

In [4]:
sales.head()

,Shop Country,Year of Order Line Creation Date,Month of Order Line Creation Date,Item Inventory Flag,Item Supplier Regular Id,Actual Shop NOV (€),Quantity Sold (#),Simulated Total Net Sales (€),Simulated Total Gross Margin (€)
0,Austria,2020,January,dropship,100001,1595,14,1393,641
1,Austria,2020,January,dropship,100014,150,2,125,63
2,Austria,2020,January,dropship,100016,279,4,236,139
3,Austria,2020,January,dropship,100017,254,3,201,85
4,Austria,2020,January,dropship,100023,1804,41,1483,568

In [5]:
# Rename columns
suppliers.columns=['supplier_name', 'supplier_id']
sales.columns=['order_country', 'order_year', 'order_month', 'item_inventory_flag', 'supplier_id', 'actual_sales_value', 
               'actual_quantity_sold', 'simulated_sales_value', 'simulated_gross_margin']

In [6]:
# Clean 'supplier_id' column (remove leading exclamation marks)
suppliers['supplier_id'] = suppliers['supplier_id'].str.replace('!', '')

In [7]:
suppliers.head()

                     supplier_name supplier_id
0                     2b deko GmbH      100105
1              2M-sitandsleep GmbH      101167
2   3s Frankenmöbel Vertriebs GmbH      100148
3   „Wolno??” Meblarska Sp. z o.o.      100986
4  (Werk 82125) Actona Company A/S      100002

In [8]:
sales.head()

,order_country,order_year,order_month,item_inventory_flag,supplier_id,actual_sales_value,actual_quantity_sold,simulated_sales_value,simulated_gross_margin
0,Austria,2020,January,dropship,100001,1595,14,1393,641
1,Austria,2020,January,dropship,100014,150,2,125,63
2,Austria,2020,January,dropship,100016,279,4,236,139
3,Austria,2020,January,dropship,100017,254,3,201,85
4,Austria,2020,January,dropship,100023,1804,41,1483,568

In [9]:
# Check data types
suppliers.dtypes

supplier_name    object
supplier_id      object
dtype: object

In [10]:
sales.dtypes

order_country             object
order_year                 int64
order_month               object
item_inventory_flag       object
supplier_id                int64
actual_sales_value         int64
actual_quantity_sold       int64
simulated_sales_value      int64
simulated_gross_margin     int64
dtype: object

In [11]:
sales['supplier_id'] = sales['supplier_id'].astype(object)

In [12]:
sales.dtypes

order_country             object
order_year                 int64
order_month               object
item_inventory_flag       object
supplier_id               object
actual_sales_value         int64
actual_quantity_sold       int64
simulated_sales_value      int64
simulated_gross_margin     int64
dtype: object

# Calculate 'Average selling price'

In [13]:
sales['average_selling_price'] = sales['actual_sales_value']/sales['actual_quantity_sold']

In [14]:
sales.head()

,order_country,order_year,order_month,item_inventory_flag,supplier_id,actual_sales_value,actual_quantity_sold,simulated_sales_value,simulated_gross_margin,average_selling_price
0,Austria,2020,January,dropship,100001,1595,14,1393,641,113.928571
1,Austria,2020,January,dropship,100014,150,2,125,63,75.000000
2,Austria,2020,January,dropship,100016,279,4,236,139,69.750000
3,Austria,2020,January,dropship,100017,254,3,201,85,84.666667
4,Austria,2020,January,dropship,100023,1804,41,1483,568,44.000000

In [15]:
print('The Average Selling Price is ', 
      round(sales['actual_sales_value'].sum()/sales['actual_quantity_sold'].sum()*100, 2), '€')

The Average Selling Price is  21110.48 €

In [16]:
# Double check that the weighted average is the same
np.average(sales['average_selling_price'], weights = sales['actual_quantity_sold'])

nan

In [17]:
len(sales)

41499

In [18]:
sales['actual_sales_value'].isna().sum() * 100 / len(sales)

0.0

In [19]:
sales['actual_quantity_sold'].isna().sum() * 100 / len(sales)

0.0

In [20]:
sales['average_selling_price'].isna().sum() * 100 / len(sales)

22.83669486011711

In [21]:
(sales['actual_sales_value'] == 0).sum()

9481

In [22]:
(sales['actual_quantity_sold'] == 0).sum()

9477

In [23]:
sales['average_selling_price'] = sales['average_selling_price'].fillna(0)

In [24]:
sales['average_selling_price'].isna().sum() * 100 / len(sales)

0.0

In [25]:
np.average(sales['average_selling_price'], weights = sales['actual_quantity_sold'])

211.10484988937742

# Calculate 'Gross margin rate %'

In [26]:
sales['gross_margin_rate_percentage'] = (sales['simulated_gross_margin']/sales['simulated_sales_value'])*100

In [27]:
sales.head()

,order_country,order_year,order_month,item_inventory_flag,supplier_id,actual_sales_value,actual_quantity_sold,simulated_sales_value,simulated_gross_margin,average_selling_price,gross_margin_rate_percentage
0,Austria,2020,January,dropship,100001,1595,14,1393,641,113.928571,46.015793
1,Austria,2020,January,dropship,100014,150,2,125,63,75.000000,50.400000
2,Austria,2020,January,dropship,100016,279,4,236,139,69.750000,58.898305
3,Austria,2020,January,dropship,100017,254,3,201,85,84.666667,42.288557
4,Austria,2020,January,dropship,100023,1804,41,1483,568,44.000000,38.300742

In [28]:
print('The Average Gross Margin Rate is ', 
      round(sales['simulated_gross_margin'].sum()/sales['simulated_sales_value'].sum()*100, 2), '%')

The Average Gross Margin Rate is  54.6 %

# Calculate 'simulated returns & cancellations'

In [29]:
sales['simulated_returns_cancellations'] = sales['actual_sales_value'] - sales['simulated_sales_value']

In [30]:
sales.head()

,order_country,order_year,order_month,item_inventory_flag,supplier_id,actual_sales_value,actual_quantity_sold,simulated_sales_value,simulated_gross_margin,average_selling_price,gross_margin_rate_percentage,simulated_returns_cancellations
0,Austria,2020,January,dropship,100001,1595,14,1393,641,113.928571,46.015793,202
1,Austria,2020,January,dropship,100014,150,2,125,63,75.000000,50.400000,25
2,Austria,2020,January,dropship,100016,279,4,236,139,69.750000,58.898305,43
3,Austria,2020,January,dropship,100017,254,3,201,85,84.666667,42.288557,53
4,Austria,2020,January,dropship,100023,1804,41,1483,568,44.000000,38.300742,321

In [31]:
sales['order_month'].value_counts()

May          6087
April        6025
June         5887
March        5828
February     5677
January      5600
July         2961
August       1766
September     900
October       380
November      230
December      158
Name: order_month, dtype: int64

In [32]:
# Convert month strings to numbers
order_month_number = []

for months in sales['order_month']:
    new_month = datetime.datetime.strptime(months, "%B").month
    order_month_number.append(new_month)

In [33]:
sales['order_month_number'] = order_month_number

In [34]:
sales['order_month_number'].value_counts()

5     6087
4     6025
6     5887
3     5828
2     5677
1     5600
7     2961
8     1766
9      900
10     380
11     230
12     158
Name: order_month_number, dtype: int64

# Look at sales over time

In [61]:
sales.groupby(by=['order_year', 'order_month'], sort=False)[
    'actual_sales_value', 'actual_quantity_sold', 'simulated_sales_value', 'simulated_gross_margin'].sum()

C:\Users\paul_\anaconda3\envs\matrix\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                        actual_sales_value  actual_quantity_sold  \
order_year order_month
2020       January                12294112                 59562
           February               10865090                 53312
           March                  12539853                 62937
           April                  15855620                 79585
           May                    16359464                 77287
           June                   12582580                 58981
           July                          0                     0
           August                        0                     0
           September                     0                     0
           October                       0                     0
           November                      0                     0
           December                      0                     0
2021       January                20607053                 98852
           February               19026408                 87175
           March                  17497951                 78574
           April                  16555724                 75758
           May                    15982706                 73473
           June                   10743540                 51472
           July                          0                     0
           August                        0                     0
           September                     0                     0

                        simulated_sales_value  simulated_gross_margin
order_year order_month
2020       January                   10007285                 5534815
           February                   8837297                 4964933
           March                     10272922                 5818857
           April                     12915849                 7192171
           May                       13364005                 7270696
           June                      10280889                 5618645
           July                             0                       0
           August                           0                       0
           September                        0                       0
           October                          0                       0
           November                         0                       0
           December                         0                       0
2021       January                   16441546                 8940913
           February                  15193501                 8290639
           March                     14013073                 7592355
           April                     13355499                 7181242
           May                       12778791                 6731642
           June                       8726695                 4681926
           July                             0                       0
           August                           0                       0
           September                        0                       0

### All months show an increase in sales year on year, except for May & June.

### It's very strange that there is no sales data whatsoever for July-December 2020. This is going to make it difficult to prepare a sales forecast for the full year 2021.

# Look at sales by country

In [57]:
sales.groupby(by=['order_year', 'order_country'], sort=False)[
    'actual_sales_value', 'actual_quantity_sold', 'simulated_sales_value', 'simulated_gross_margin'].sum()

C:\Users\paul_\anaconda3\envs\matrix\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,,actual_sales_value,actual_quantity_sold,simulated_sales_value,simulated_gross_margin
order_year,order_country,,,,
2020,Austria,13838775,87489,11643472,5660989
2021,Austria,18730572,105556,15157539,7336815
2020,Belgium,5958320,37269,4750085,2338235
2021,Belgium,5765725,34412,4656409,2249494
2020,France,13683115,71483,10756348,5241410
2021,France,21658247,102684,16806594,8353367
2020,Italy,162464,2031,139091,63249
2021,Italy,1526133,7909,1152632,558015
2020,Netherlands,9692378,60322,7861092,3839598
2021,Netherlands,11836419,69783,8721539,4222197
2020,Switzerland,37161667,133070,30528159,19256636
2021,Switzerland,40896286,144960,34014392,20698829

### All countries show an increase in sales year on year, except for Belgium

# Look at sales by inventory flag

In [82]:
inventory_flag_group = sales.groupby(by=['item_inventory_flag', 'order_year'], sort=True)[
    'actual_sales_value', 'actual_quantity_sold', 'simulated_sales_value', 'simulated_gross_margin'].sum()

C:\Users\paul_\anaconda3\envs\matrix\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [83]:
inventory_flag_group

                                actual_sales_value  actual_quantity_sold  \
item_inventory_flag order_year
UNKNOWN             2020                    446916                  4364
                    2021                    328393                  2778
dropship            2020                   6537851                 92501
                    2021                   9631612                113339
former              2020                  11167758                 64719
                    2021                   4227543                 21765
laso                2020                  43143756                184416
                    2021                  58395270                257874
mto                 2020                   7724098                 17568
                    2021                  11644358                 27589
realshsmov          2020                   5195775                  8950
                    2021                   5691074                 10255
riskshs             2020                   4107466                 13887
                    2021                   6174882                 21265
tto                 2020                    625708                  2278
                    2021                   1746049                  5678
warehouse-undefined 2020                    189278                   468
                    2021                    350409                   500
zset                2020                   1254683                  2212
                    2021                   2157169                  4014
zset_former         2020                    103430                   301
                    2021                     66623                   247

                                simulated_sales_value  simulated_gross_margin
item_inventory_flag order_year
UNKNOWN             2020                       299439                  299439
                    2021                       253263                  253263
dropship            2020                      5240008                 2055284
                    2021                      7459051                 3183109
former              2020                      8093591                 4355019
                    2021                      3358256                 1763175
laso                2020                     36841437                21439488
                    2021                     47949811                26963114
mto                 2020                      6140187                 3225174
                    2021                      8940094                 4561153
realshsmov          2020                      4084516                 2278503
                    2021                      4336941                 2357397
riskshs             2020                      3344769                 1805959
                    2021                      4960078                 2602047
tto                 2020                       486978                  264905
                    2021                      1405862                  771062
warehouse-undefined 2020                       139398                   65280
                    2021                       250785                  121822
zset                2020                       933484                  569958
                    2021                      1547819                  820397
zset_former         2020                        74440                   41108
                    2021                        47145                   22178

In [35]:
'''# Export to CSV files
suppliers = suppliers.to_csv('suppliers.csv', index=False)
sales = sales.to_csv('sales.csv', index=False)''''''

"# Export to CSV files\nsuppliers = suppliers.to_csv('suppliers.csv', index=False)\nsales = sales.to_csv('sales.csv', index=False)"